@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600&family=Poppins:wght@300;400;500&display=swap');

*{
	padding: 0;
	margin: 0;
}

body{
	width: 100vw;
	overflow-x: hidden;
}

:root{
	--black: #3d3d3d;
	--light-black: #4b4b4b;
	--light-blue: #18dcff;
	--yellow: #fff200;
	--orange: #ff9f1a;
	--red: #ff3838;
	--dark-blue: #182C61;
	--blue: #1B9CFC;
}

#welcome-section{
	height: 100vh;
	width: 100vw;
	font-family: 'Montserrat', sans-serif;
	background-image: url('img/kota4.jpg');
	background-size: cover;
	background-position: center;
	position: relative;
}

.overlay{
	width: 100vw;
	height: 100vh;
	background-color: rgba(0, 0, 0, .5);
	position: absolute;
	top: 0;
	left: 0;
	z-index: 0;
}

.content{
	position: absolute;
	z-index: 9;
	color: #fafafa;
	display: flex;
	width: 100vw;
	height: 100vh;
	justify-content: space-between;
	align-items: center;
}

.content img{
	z-index: 9;
	width: 30vw;
	animation: toLeft 3s;
}

.left,.right{margin: 0 2vw;}

.left{
	width: 40vw;
}

.left p{
	margin-top: 20px;
	animation: toRight 3s;
}

.left h1{
	font-size: 35px;
	position: relative;
	margin-bottom: 5px;
	overflow: hidden;
	color: rgba(255, 255, 255, 1);
	animation: opacity 3s;
}

span{
	display: inline-block;
	position: relative; 
	overflow-x: hidden;
} 

span::before{
	content: "";
	position: absolute;
	left: 0;
	z-index: 10;
	height: 100%;
	width: 100%;
	animation: textIn 3s;
}


@keyframes toRight{
	to{
		transform: translateX(0);
	}
	from{
		transform: translateX(-100%);
	}
}

@keyframes toLeft{
	to{
		transform: translateX(0);
	}
	from{
		transform: translateX(100%)
	}
}

@keyframes opacity{
	to{
		color: rgba(255, 255, 255, 1);
	} 
	from{
		color: rgba(255, 255, 255, 0);
	}
}

@keyframes textIn{
	to{
		color: rgba(255, 255, 255, 1);
		background: var(--red);
		transform: translateX(100%);
	}
	from{
		color: rgba(255, 255, 255, 0);
		background: var(--red);
		transform: translateX(-100%);
	}
}


















@media (max-width: 670px) {
	.content{
		flex-direction: column-reverse;
		justify-content: space-evenly;
	}

	.content img{
		width: 50vw;
	}

	.left,.right{margin: 0;}

	.left{
		width: 80vw;
	}
}

