@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600&family=Poppins:wght@300;400;500&display=swap');


*{
	padding: 0;
	margin: 0;
	scroll-behavior: smooth;
}

body{
	width: 100vw;
	overflow-x: hidden;
	background-color: black;
}

:root{
	--black: #1b1b1b;
	--light-black: #4b4b4b;
	--light-blue: #18dcff;
	--yellow: #fff200;
	--orange: #ff9f1a;
	--red: #ff3838;
	--dark-blue: #182C61;
	--blue: #1B9CFC;
}

#navbar{
	background: rgba(155, 155, 155, .1);
	backdrop-filter: blur(10px);
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	z-index: 99;
	box-sizing: border-box;
	transition: all .6s;
}

.title{
	display: none;
}

#navbar a{
	display: inline-block;
	color: #fafafa;
	text-decoration: none;
	font-family: 'Montserrat', sans-serif;
	font-size: 18px;
	font-weight: 600;
	padding: 20px 15px;
	transition: all .5s;
	/* border-bottom: 5px solid transparent; */
}

#navbar a:hover{
	padding: 15px 15px;
	background: var(--black);
	border-bottom: 5px solid #fafafa;
	box-sizing: border-box;
}

#navbar li{
	list-style: none;
}

#navbar ul{
	display: flex;
	justify-content: center;
	align-items: center;
}

#welcome-section{
	height: 100vh;
	width: 100vw;
	font-family: 'Montserrat', sans-serif;
	background-image: url('img/kota4.jpg');
	background-size: cover;
	background-position: center;
	position: relative;
}

svg{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	transform: rotate(180deg);
}

.overlay{
	width: 100vw;
	height: 100vh;
	background-color: rgba(0, 0, 0, .7);
	position: absolute;
	top: 0;
	left: 0;
	z-index: 0;
}

.content{
	position: absolute;
	z-index: 9;
	color: #fafafa;
	display: flex;
	width: 100vw;
	height: 100vh;
	justify-content: space-between;
	align-items: center;
}

.content img{
	z-index: 9;
	width: 30vw;
	animation: toLeft 3s;
}
/* konten kanan dan kiri */
.left,.right{margin: 0 2vw;}

.left{
	width: 40vw;
}

.left p{
	margin-top: 20px;
	animation: toRight 3s;
}

.left h1{
	font-size: 35px;
	position: relative;
	margin-bottom: -5px;
	overflow: hidden;
	color: rgba(255, 255, 255, 1);
	animation: opacity 6.5s ease;
}

h1 span{
	display: inline-block;
	position: relative; 
	overflow-x: hidden;
} 

h1 span::before{
	content: "";
	position: absolute;
	left: 0;
	z-index: 10;
	height: 100%;
	width: 100%;
	animation: textIn 3s;
}

/* qoutes */
.qoute{
	position: absolute;
	width: 100%;
	text-align: center;
	z-index: 90;
	bottom: 100px;
	color: #fafafa;
	font-style: italic;
	animation: opacity 4s;
	font-size: 12px;
}

/* tombol scroll ke bawah */
.scrollDown{
	background: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 1));
	line-height: 50px;
	height: 50px;
	width: 100vw;
	bottom: 0;
	left: 0;
	position: absolute;
	z-index: 90;
	text-align: center;
}

.scrollDown a{
	display: inline-block;
	text-decoration: none;
	animation: downUp 1s infinite alternate;
	padding: 0 15px;
}

.scrollDown i{
	display: none;
	color: #fafafa;
}



@keyframes toRight{
	to{
		transform: translateX(0);
	}
	from{
		transform: translateX(-100%);
	}
}

@keyframes toLeft{
	to{
		transform: translateX(0);
	}
	from{
		transform: translateX(100%)
	}
}

@keyframes opacity{
	to{
		color: rgba(255, 255, 255, 1);
	} 
	from{
		color: rgba(255, 255, 255, 0);
	}
}

@keyframes textIn{
	to{
		color: rgba(255, 255, 255, 1);
		background: var(--black);
		transform: translateX(100%);
	}
	from{
		color: rgba(255, 255, 255, 0);
		background: var(--black);
		transform: translateX(-100%);
	}
}

@keyframes downUp {
	to{
		transform: translateY(-20px);
	}
	from{
		transform: translateY(0);
	}
}

/* bagian projects */
#projects {
	width: 100vw;
	background: #000;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	color: #fafafa;
	padding-top: 50px;
}

#projects h1{
	font-family: "Poppins", sans-serif;
	text-transform: uppercase;
}

.cards {
	width: 95vw;
	height: 80vh;
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	flex-wrap: wrap;
	margin-top: -50px;
}

.card{
	background: var(--black);
	height: 200px;
	width: 300px;
	position: relative;
	box-sizing: border-box;
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
}

.card a{
	text-decoration: none;
	font-family: "Montserrat", sans-serif;
	color: #fafafa;
	display: inline-block;
	position: absolute;
	bottom: 0;
	left: 0;
	background: var(--light-black);
	width: 100%;
	padding: 10px 20px;
	box-sizing: border-box;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.card a i{
	animation: goRight 1s infinite alternate-reverse;
}

@keyframes goRight{
	to{
		transform: translateX(0);
	}
	from{
		transform: translateX(-20px);
	}
}

/* bagian about */
#about{
	width: 100vw;
	height: 40vh;
	background-color: var(--black);
	font-family: "poppins", sans-serif;
	color: #fafafa;
	display: flex;
	align-items: center;
	box-sizing: border-box;
	padding: 0 50px;
}

.thanks{
	width: 50vw;
}

.thanks h1{
	margin-bottom: 20px;
}

.social-media{
	width: 50vw;
	display: flex;
	justify-content: center;
	align-items: center;
}

.icon a{
	text-decoration: none;
	color: #fafafa;
	margin: 10px 10px;
}















/* pada saat lebar layar max 670px maka code dibawah akan berjalan  */
@media (max-width: 670px) {
	/* responsive navigasi */
	.title{
		background: rgba(0, 0, 0, .5);
		width: 100vw;
		text-align: center;
		padding: 10px 0;
		font-family: 'Poppins', sans-serif;
		font-weight: 500;
		display: flex;
		justify-content: space-between;
		align-items: center;
		position: fixed;
		top: 0;
		left: 0;
		z-index: 99;
		transition: all 1s;
		backdrop-filter: blur(20px);
	}

	.title i{
		color: #fafafa;
		margin-left: 20px;
		transition: all 1s;
	}

	.title.active{
		opacity: 0;
	}

	.title.active i{
		visibility: hidden;
	}

	#navbar{
		transform: translateX(-100%);
		transition: all .5s;
		margin-top: 45px;
	}
	
	#navbar.resActive{
		transform: translateX(0);
	}

	#navbar ul{
		flex-direction: column;
	}

	#navbar a{
		width: 100vw;
		padding: 20px 0 20px 35px;
	}

	/* menampilkan scroll down pada smartphone */
	.scrollDown i{
		display: inline-block;
	}

	/* bagian konten kanan dan kiri */
	.content{
		flex-direction: column-reverse;
		justify-content: space-evenly;
		margin-top: -50px;
	}

	.content img{
		width: 50vw;
		margin: 30px 0 -30px 0;
	}

	.content h1{
		font-size: 25px;
	}

	.left,.right{margin: 0;}

	.left{
		width: 85vw;
		margin-top: -50px;
	}

	/* bagian projek galeri */
	.cards{
		margin: 50px 0;
	}

	.card{
		margin-bottom: 20px;
	}

	/* bagian about */
	#about{
		margin-top: 350px;
		flex-direction: column;
		height: auto;
		padding-top: 20px;
	}

	.thanks{
		width: 80vw;
		margin-bottom: 20px;
	}

	.social-media{
		width: 100vw;
		background: var(--light-black);
	}
	
}

